.rmdp-input {
  width: 100% !important;
  height: 56px !important;
  padding: 8px 12px !important;
  @apply text-VioletBlue rounded-xl border-none duration-200 !important;
}
.rmdp-input:hover {
  @apply bg-neutral-400/30 !important;
}
.icon-tabler {
  right: 10px !important;
  left: auto !important;
}
.rmdp-month-picker,
.rmdp-year-picker,
.rmdp-calendar,
.rmdp-input {
  @apply bg-LightLavender !important;
}
